<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        label{
            display: inline-block;
            width: 100px;
        }
        body{
            background-image:repeating-linear-gradient(rgb(28, 28, 58),rgb(227, 227, 12))
        }
        form{
            align-items: center;
            text-align: center;
            background-image: linear-gradient(blue,orange,green,purple);  
            width: 800px;   
            height: 700px;     
        }
        footer{
            text-align: center;
        }
    </style>
    <form action='/' method='post' >
        <br><br><br><br><br><br><br><br>
        <label for="fname">Student Name</label>
        <input type="text" placeholder="enter name here" name="fname">
        <br><br>
        <label for="">Course   </label>
        <input type="text" placeholder="enter course" name="course">
        <br><br>
        <label for="">Age     </label>
        <input type="text" placeholder="enter age" name="age">
        <br><br>
        <label for="">Email  </label>
        <input type="text" placeholder="enter email" name="email">
        <br><br><br>
        <button type="submit">SUBMIT</button>
        <br><br><Br><br><Br><br>
        
   
    </form>
    <footer>Thank You Verzeo<br>-------P Aditya</footer>    
    
</body>
</html>